.header {
  width: 100%;
  /* background-color: #ffffff; */
}
.header h1 {
  padding: 10px 0;
}
.headerSearchBar {
  width: 100%;
  /* background-color: #ffffff; */
  border-bottom: 1px solid #dbdbdb;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inner {
  margin: 0 auto;
  width: 1024px;
}

.logo {
  position: relative;
  top: 0.15em;
  height: 1.2em;
  width: auto;
  margin-right: 0.2em;
}
