.inner {
  min-height: 50vh;
  margin: 0 auto;
  width: 1024px;
}

@media screen and (max-width: 480px) {
  .inner {
    min-height: 50vh;
    margin: 0 auto;
    width: 100%;
  }
}

.main {
  padding: 1rem 0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer img {
  margin-left: 0.5rem;
}
