.searchBar {
  overflow: hidden;
  font-size: 13px;
  background: #fff;
  padding-top: 10px;
  position: relative;
  display: block;
}

.otomadFixWrap {
  border: #bbbbbb solid 1px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
}

.otomadLabel {
  margin: 1px 0 1px 1px;
  padding: 2px 0 2px 5px;
}

.inputQueryBar {
  padding: 2px 5px 2px 0;
  border: #bbbbbb solid 0px;
  border-right-width: 0;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inputQueryBar:focus {
  outline: none;
}

.searchButton {
  display: inline-block;
  background-color: buttonface;
  cursor: pointer;
  padding: 2px 5px;
  border: 0;
  border-left: #bbbbbb solid 1px;
}

.inputOrder {
  width: 14em;
  padding: 0 5px;
  border: #dbdbdb solid 1px;
  border-radius: 4px;
}

.inputNumber {
  width: 6em;
  padding: 2px 5px;
  border: #dbdbdb solid 1px;
  border-radius: 2px;
}

.big {
  width: 8em;
}

.inputDatetime {
  width: 15em;
  padding: 0 5px;
  border: #dbdbdb solid 1px;
  border-radius: 4px;
}

.filter {
  margin-bottom: 10px;
}

.filterName {
  font-weight: bold;
  padding-right: 10px;
}
.filterName::after {
  content: ":";
}

label + .filterName {
  padding-left: 14px;
}

select + .filterName {
  padding-left: 14px;
}

@media screen and (max-width: 480px) {
  .filterName {
    display: block;
  }
  label + .filterName {
    padding-left: 0;
  }
  select + .filterName {
    padding-left: 0;
  }
}

.filterWord {
  padding: 0 5px;
}

@media screen and (max-width: 480px) {
  .filterDate {
    display: block;
  }
}

.ss {
  float: right;
}

.ss a {
  font-size: 50%;
  padding: 0;
  color: #bbb;
}

.ss a:hover {
  text-decoration: underline;
}
