.tag {
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  display: block;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #fff;
  color: #666;
  font-size: 93%;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  color: #666;
}

.disabled {
  opacity: 0.6;
  cursor: default;
}
