.thumb {
  max-width: 160px;
  max-height: 90px;
  width: auto;
  height: auto;
}

@media screen and (max-width: 480px) {
  .thumb {
    width: 130px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100px;
  }
}
