.videoList {
  list-style: none;
  padding-left: 0px;
}

.videoList.videoDetailList .item:not(:last-child) {
  width: 100%;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: #ccc dotted 1px;
}

.videoDetail {
  font-size: 13px;
}

.videoDetail::before {
  content: " ";
  display: table;
}

.videoDetail::after {
  clear: both;
  content: " ";
  display: table;
}

.videoWrap {
  width: 160px;
  margin-right: 12px;
  position: relative;
}

.videoWrap.float {
  float: left;
}

.itemThumbBox {
  width: 160px;
  height: 90px;
  overflow: hidden;
  position: relative;
}

.itemThumb {
  width: 160px;
  height: 90px;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}

.itemThumbWrap {
  width: 160px;
  height: 90px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: #000;
}

.videoLength {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  font-size: 77%;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0s;
}

.itemThumb:hover > .videoLength {
  opacity: 0;
  transition: opacity 0.4s;
}

.itemTime {
  font-size: 85%;
  color: #666;
  margin-bottom: 2px;
}

.separate {
  margin-left: 4px;
}

.itemContent {
  padding-top: 4px;
  overflow: hidden;
}

.itemTitle {
  font-size: 124%;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}

.itemTitle a:visited {
  color: #666;
}

.itemTitle a:link {
  color: #069;
}

.itemDescription {
  font-size: 93%;
  color: #666;
  margin-bottom: 4px;
  word-break: break-all;
}

.tags li {
  float: left;
}

.tags::after {
  clear: both;
  content: " ";
  display: table;
}

.list {
  padding-left: 0px;
  list-style: none;
}

.list::before {
  content: " ";
  display: table;
}

.itemData {
  margin-top: 8px;
  font-size: 108%;
}

.itemData li {
  float: left;
}

.itemData .count {
  font-size: 85%;
  color: #999;
  margin-bottom: 4px;
}

.itemData .count .value {
  padding: 0 8px 0 0;
  color: #333;
}

.videoIcon {
  display: block;
  width: 160px;
}

.videoIcon .videoWrap .itemTime {
  font-size: 11.05px;
}

.videoIcon .itemContent {
  width: 160px;
}

.videoIcon .itemData {
  display: inline-block;
  margin: 0;
}

.videoIcon .itemData .count {
  font-size: 11.05px;
}

.videoIcon .itemTitle {
  font-size: 12.09px;
  word-break: break-all;
  margin: 0;
  margin-bottom: 2px;
  line-height: 130%;
  display: block;
  width: 160px;
}

.videoIcon .itemTitle a {
  word-break: break-word;
  display: inline;
}

.videoList.videoIconList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.videoList.videoIconList .item {
  width: calc(100% / 6);
  margin-bottom: 20px;
  margin-right: 0;
}
