.description h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.description h2::before {
  content: "# ";
}
.description h3::before {
  content: "## ";
}
.description p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 100%;
  font: inherit;
}
.description a:any-link {
  /* border-bottom: black solid 1px; */
  text-decoration: underline;
}
